
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
docs/internal_medicine_rules.docx
tutorial/test.ipynb
tutorial/Untitled.ipynb
tutorial/tutorial.ipynb
data/inpatient_july.csv
data/inpatient_july.xlsx
data/leave_requests_july.csv
data/leave_requests_july.xlsx
tutorial/tutorial_jul.ipynb
docs/core_scheduling_rules.docx
docs/scheduler_rules.docx
